<h1>{{titre}}</h1>
  
  <form>
    <fieldset  *ngFor="let a of listArticles" [ngStyle]="{'background-color': a.categorie=='Education'? 'blue' : ''}">
      <legend>{{a.titre}}:</legend>
      <div  [hidden] *ngIf="a.categorie!='travail'">
      <label for="fname">Auteur :</label>
      {{a.auteur}}<br><br>
      <label for="lname">Date :</label>
      {{a.date}}<br><br>
      <label for="email">Contenu :</label>
      {{a.contenu}}<br><br>
    </div>

    </fieldset>
  </form>
  <label>Nombre total des articles</label>
<input type="text" [value]="listArticles.length"/>