<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Like</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let p of listProdcut">
        <td>{{p.id}}</td>
        <td>{{p.title}}</td>
        <td>{{p.price}}</td>
        <td>{{p.quantity}}</td>
        <td>{{p.like}}</td>
        <td><input type="submit" class="btn btn-success" value="Detail" (click)="detailProduit(p.id)"></td>
      </tr>
      
    </tbody>
  </table>